@import url(header/header.css);
@import url(nav/nav.css);
@import url(about/about.css);
@import url(project/project.css);
@import url(stages/stages.css);
@import url(footer/footer.css);
@import url(menu/menu.css);