.footer {
    padding: 100px 0;
    background-color: var(--font-site-color);
}

.footer-container {
    padding: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.footer-container h2 {
    color: white;
    margin: 20px 0;
}

.footer-container p {
    color: white;
    margin: 20px 0;
}

.footer-container a {
    text-decoration: none;
    color: white;
    margin: 20px 0;
}