.header {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(images/header-bg.png) center/cover no-repeat;
}

.header-container {
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    /* margin: auto; */
    height: 600px;
    align-items: center;
}

.header-left {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-right: 50px;
}

.header-title {
    
}

.header-link {
    border: solid var(--accent-color-2) 2px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-arrow {
    
}

.header-right {
    width: 50%;
    height: 90%;
    position: relative;
    background: rgba(255, 255, 255, 0.575);
    backdrop-filter: blur(5px);
    border-radius: 15px;
}
.header-panel {
    box-shadow: rgb(179, 179, 179) 0px 0px 30px;
    border-radius: 15px;
    position: absolute;
    top: 5%;
    left: -30px;
    width: 60px;
    z-index: 10;
}

.header-knight {
    width: 100%;
    height: 100%;
    justify-content: space-between;
    box-shadow: rgb(170, 170, 170) 0px 0px 30px;
    border-radius: 15px;
    position: absolute;
    bottom: 0;
    right: 0;
    border: solid white 4px;
}

.header-link:hover .header-arrow {
    transform: translateY(50px);
}