.menu {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    background-color: white;
    border-radius: 15px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
    z-index: 10;
}

.menu p {

}

.menu a {
    background-color: var(--card-bg-color);
    border-radius: 10px;
    margin: 15px 0;
    padding: 10px;
}