.about {
    padding: 100px 0;
}

.about-container {
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(6, 300px);
    gap: 20px;
    max-width: 1200px;
    width: 100%;
    margin: auto;
    grid-template-areas:
        "a1 a1 a2"
        "a1 a1 a2"
        "a1 a1 a3"
        "a4 a4 a5"
        "a6 a6 a6"
        "a7 a8 a8";
}


.about1 {
    grid-area: a1;
    background-color: var(--card-bg-color);
    border-radius: 20px;
    padding: 20px;
}

.about1 h2 {
    font-size: 3rem;
    margin-top: 20px;
    margin-bottom: 20px;
}

.about1 p {
    font-size: 1.3rem;
}

.about1 img {
    width: 100%;
    border-radius: 20px;
    height: 70%;
    object-fit: cover;
    box-shadow: rgb(177, 177, 177) 0 0 20px;
}



.about2 {
    grid-area: a2;
    background-color: var(--card-bg-color);
    border-radius: 20px;
    padding: 20px;
}

.about2 h2 {
    font-size: 1.6rem;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: right;
}

.about2 p {
    text-align: right;
}

.about2 img {
    border-radius: 20px;
    width: 390px;
    height: 70%;
    object-fit: cover;
    box-shadow: rgb(177, 177, 177) 0 0 20px;
}



.about3 {
    grid-area: a3;
    background-color: var(--card-bg-color);
    border-radius: 20px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.about3 h2 {}

.about3 img {
    width: 60%;
    border-radius: 20px;
    object-fit: cover;
    box-shadow: rgb(177, 177, 177) 0 0 20px;

}

.about4 {
    grid-area: a4;
}

.about4 img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    object-fit: cover;
}



.about5 {
    grid-area: a5;
    position: relative;
}


.about-ring {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.about-circle {
    box-shadow: rgb(155, 154, 154) 0 0 20px;
    border-radius: 50%;
    position: absolute;
    top: 35%;
    right: 10%;
}



.about6 {
    grid-area: a6;
    border-radius: 20px;
    background-color: var(--card-bg-color);
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
}

.about6 img {
    box-shadow: rgb(177, 177, 177) 0 0 20px;
    border-radius: 20px;
    width: 70%;
    margin-top: 20px;
    object-fit: cover;
    height: 140px;
}

.about6 p {
    width: 30%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-align: right;
}

.about6 h2 {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    align-items: center;
}

.about7 {
    grid-area: a7;
    background: var(--about-gradient);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about7 h2 {
    color: var(--white-color);
    text-align: center;

}

.about8 {
    grid-area: a8;
}

.about8 img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    object-fit: cover;
}