.nav {
    width: 100%;
    height: 85px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}
.nav-container {
    max-width: 1500px;
    width: 100%;
    height: 100%;
    margin: auto;
}
.nav-toggler {
    opacity: 0;
    z-index: -100;
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
}
.nav-body {
    width: 100%;
    height: 100%;
    background: var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    position: relative;
    z-index: 10;
}
.nav-link {

}
.nav-img {
    width: 170px;
}
.nav-label {
    border: var(--accent-color-1) solid 2px;
    width: 200px;
    height: 50px;
    display: block;
    position: relative;
}
.nav-rolled-black {
    background: rgba(0, 0, 0, 0.733);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 9;
    transform: scaleY(0);
    transform-origin: top;
    transition: 0.5s;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.nav-body::before {
    content: "";
    width: 50%;
    height: 3px;
    background: var(--accent-color-2);
    position: absolute;
    bottom: 0;
    left: 0;
}

.nav-body::after {
    content: "";
    width: 50%;
    height: 3px;
    background: var(--accent-color-1);
    position: absolute;
    bottom: 0;
    right: 0;
}

.nav-label::before {
    content: url(images/form-btn--open.svg);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
}

.nav-label::after {
    content:"Оставить заявку";
    color: var(--accent-color-1);
    font-size: 0.9rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
}

.nav-toggler:checked ~ .nav-body .nav-label::before {
    content: url(images/form-btn--close.svg);
    top: 45%;
}

.nav-toggler:checked ~ .nav-body .nav-label::after {
    content: "Закрыть"
}

.nav-toggler:checked ~ .nav-rolled-black {
    opacity: 1;
    transform: scaleY(1);
}

.nav-rolled-black h3 {
    font-size: 1.5rem;
}

.nav-form {
    background-color: var(--bg-color);
    display: flex;
    flex-direction: column;
    width: 435px;
    height: 400px;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    justify-content: space-around;
    align-items: center;
}
.nav-form input {
    padding: 10px;
    background: #EAEAEA;
    color: black;
    border-radius: 10px;
    outline: none;
    border: none;
    width: 70%;
    height: 10%;
}

.nav-form input::placeholder {
    background: #EAEAEA;
    color: white;
}

.nav-form button {
    background: #0BB6FF;
    border-radius: 10px;
    padding: 10px;
    width: 300px;
    height: 73px;;
    display: block;
    border: none;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-form button:hover {
    background-color: #0BB6FF;
    opacity: 0.9;
}

.nav-form button:active {
    background-color: black;
}
